/* Take glow effect from CSS snippet cheat */
:root {
    --primary-color: #FFFCE3;
    --secondary-color: #e3e6ff;
    --accent: ;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    padding: 30px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* background-color: var(--primary-color); */
    color: var();
    display: inline-block;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 25px; */
    font-size: 30px;
    padding-right: 50px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav ul li {
    display: inline-block;
    padding-right: 10px;
}

.james {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/James\ gif.gif");
    background-size: cover;
    background-position: center;
}

.text-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* Adjust opacity as needed */
    padding: 30px;
    border-radius: 5px;
}

.text-box p {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.about-me,
.work,
.contact-me,
.resume {
    display: flex;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

.about-me h2,
.work h2,
.contact-me h2,
.resume h2 {
    margin-right: 20px;
    /* Adjust spacing between h2 and p */
    /* background-color: var(--primary-color); */
    border-right: 2px solid white;
    padding-right: 2px;
}

.work {
    display: flex;
    flex-direction: row; /* Display items in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px;
    background-color: var(--primary-color);
 }
 
 .work h2 {
    margin-right: 20px; /* Adjust spacing between h2 and img */
 }
 
 .work img {
    order: 1; /* Specify the order of the img */
 }

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
        flex-grow: 1;
    }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
    header {
        width: 100%;
    }

    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}